{% extends 'base.html.twig' %}

{% block body %}
<main class="container pt-4">
    {% include '_flash_messages.html.twig' %}

    <div class="row">
        <section class="col">
            <h1 class="section-header">
                {% block section_title %}{{ block('title') }}{% endblock %}
            </h1>

            {% block section_content %}{% endblock %}
        </section>
    </div>
</main>
{% endblock body %}
