<div class="card">
    <h5 class="card-header">Accounts</h5>

    <nav class="card-body p-0">
        <div class="nav flex-column nav-pills"
             aria-orientation="vertical">
            <a class="nav-link active" href="#">Test</a>
            <a class="nav-link" href="#">Test</a>
            <a class="nav-link" href="#">Test</a>
            <a class="nav-link" href="#">Test</a>
            <a class="nav-link" href="#">Test</a>
        </div>
    </nav>
</div>
